.titlecont{
    width: 100%;
    height: 500px;
    background-image: url("./homebg.png");
    display: inline-flex;
}
.titleheadcont{
    width: 100%;
    margin: auto;
}

.titlehead1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 200%;
}
.titlehead2{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-size: 700%;
}



.soc1{
    display: inline-flex;
  justify-content: center;
}

.soccardparent{
    margin: 5% 9% 5% 9%;
    width: 70%;
    overflow: hidden;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.5s;
}
.soccardparentunhidden{
    margin: 5% 9% 5% 9%;
    width: 70%;
    overflow: hidden;
    height: 670px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.5s;
}

.upcont{
    display: inline-flex;
    width: 100%;
}

.upleftcont{
    display: inline-flex;
    height: 400px;
    width: 100%;
}
.upleftimg{
    margin: auto;
}
.uprightheadcont{
    display: inline-flex;
    height: 20%;
    width: 100%;
    margin-bottom: 45px;
}
.uprighthead{
    margin: auto;
    font-size: 50px;
    font-family: 'Georgia', serif;
}
.uprighttextcont{
  padding-left: 14%;
  width: 100%;
  height: 69%;
  justify-content: center;
}
.uprighttext{
    width: 70%;
  font-size: 20px;
  height: 70%;
  text-align: justify;
}
.morebut{
    background: none;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  
}
.morebut:hover{
    background-color: gray;
    cursor: pointer;
}


.downcont{
    display: inline-flex;
    margin-top: 5%;
    height: 100%;
}
.downleftcont{
    margin: 0 5% 0 5%;
}

.downleftimg{
    
    border-radius: 20px;
}
.downrightcont{
    margin-left: 5%;
}
.downrighttextcont{
    height: 75%;
    width: 80%;
}