*{
    padding: 0;
    margin: 0;
}
.titlecont{
  width: 100%;
  height: 500px;
  background-image: url("./homebg.png");
  display: inline-flex;
}
.titleheadcont{
  width: 100%;
  margin: auto;
}

.titlehead1{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 200%;
}
.titlehead2{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  font-size: 700%;
}

.headcont{
    height: 500px;
    width: 100%;
    display: inline-flex;
}

.abbgimg{
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
}

.headtext1{
    margin: auto;
    position: absolute;
  
    z-index: 5;
    color: wheat;
    width: 40%;
  margin-top: 20%;
  margin-left: 5%;
    
}
.headtext2{
    margin: auto;
  position: absolute;
    z-index: 5;
    color: wheat;
    width: 40%;
  margin-top: 23%;
  margin-left: 7%;
    
}
.trapezoid{
        width: 50%;
        position: absolute;
        z-index: 5;
        height: 10%;
        margin-bottom: 74px;
        left: unset;
        margin-top: 31%;
        background-color: white;
        margin-left: 50%;
}




.textcont{
    margin: 5% 8% 2% 8%;
    padding: 3%;
}

.uppertextcont{
    height: 50%;
  width: 100%;
  display: inline-flex;
}
.uppertext{
    text-align: justify;
    font-size: 140%;
    margin: 3%;
    font: sans-serif;
    padding-right: 6%;
}
.uppertextimg1cont{
  width: 300%;
  height: 300%;
}
.uppertextimg1{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.uppertextimg2cont{
  width: 80%;
  height: 100%;
  margin-top: 46px;
}
.uppertextimg2{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.lowertextcont{
    height: 50%;
  width: 100%;
  display: inline-flex;
}
.lowertext{
    text-align: justify;
    font-size: 120%;
    margin: 5%;
    font: sans-serif;
}

.vidcont{
  display: inline-flex;
  margin: 0 0 5% 0;
  justify-content: center;
  width: 100%;
}
.vid{
  width: 70%;
  height: 567px;
}



.bottomcont{
  width: 100%;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 50px;
}
.bottomleft{
  width: 43%;
  height: 100%;
  margin-left: 10%;
}
.bottomleftheadcont{
  height: 20%;
  width: 100%;
  display: inline-flex;
  margin: 2%;
}
.bottomlefttextcont{
  height: 80%;
  display: inline-flex;
  text-align: justify;
  margin: 2%;
  width: 70%;
}
.bottomlefthead{
  font-family: sans-serif;
  padding-top: 15px;
}
.bottomlefttext{
  font-size: 17px;
  font: sans-serif;
  color: #000;
}





.bottonright{
  height: 100%;
  width: 57%;
  padding-left: 9%;
}
.abbutheadcont{
  height: 20%;
  width: 100%;
  display: inline-flex;
  margin: 2%;
}
.abbuthead{
  font-family: sans-serif;
  padding-top: 15px;
}
.abbutcont{
  margin: 3%;
  height: 100%;
  width: 500px;
}
.but{
  display: inline-flex;
  height: 30%;
  width: 80%;
}
.arrow{
  height: 30px;
  width: 30px;
}
.butsrcont{
  width: 10%;
}
.butsr{
  font-size: 23px;
  font: sans-serif;
  color: #000;
}
.buttextcont{
  width: 60%;
}
.buttext{
  font-size: 23px;
  font: sans-serif;
  color: #000;
}
.arrowcont{
  width: 30%;
  display: inline-flex;
  justify-content: center;
}
.abbutline{
  width: 70%;
  margin: 20px 0 20px 0;
  border: 0;
  background-color: black;
  height: 1px;
}




