.titlecont{
    width: 100%;
    height: 500px;
    background-image: url("./homebg.png");
    display: inline-flex;
  }
  .titleheadcont{
    width: 100%;
    margin: auto;
  }
  
  .titlehead1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 200%;
  }
  .titlehead2{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-size: 700%;
  }

  .galpopcontopen{
    position: fixed;
    z-index: 100;
    scale: 1;
    transition: scale 1s;
    padding: 10% 20% 10% 20%;
    
  }
  .galpopcontclose{
    position: fixed;
    z-index: 100;
    scale: 0;
    transition: scale 10s;
  }
  .galpopclosebut{
    height: 40px;
  width: 40px;
  float: inline-end;
  }
  .galpopcloseicon{
    height: 100%;
    width: 100%;
  }
  